@import "./variables.css";

/* =========================
   RESET
========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
height:100%;
}

body{

background-color:var(--oratio-background);

/* TEXTURA DE PERGAMINHO */

background-image:url("/parchment.png");

background-size:600px;
background-repeat:repeat;

color:var(--oratio-text-dark);

font-family:var(--oratio-font-text);

-webkit-font-smoothing:antialiased;

}


/* =========================
   TITULOS
========================= */

h1,h2,h3,h4{

font-family:var(--oratio-font-title);
letter-spacing:1px;

}


/* =========================
   BOTÕES PADRÃO
========================= */

button{

border:none;
cursor:pointer;

font-family:var(--oratio-font-text);

transition:var(--oratio-transition);

}


/* =========================
   INPUT PADRÃO
========================= */

input{

font-family:var(--oratio-font-text);

border:1px solid var(--oratio-card-border);

outline:none;

}


/* =========================
   LINKS
========================= */

a{
text-decoration:none;
color:inherit;
}